.filesContailner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:200px;
}

.memosContainer{
    background-color: #0fb6cfe1;
    margin: 20px;
    padding: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}