.CertificatesRequestFormContainer{
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 10px 0px silver;
    margin: 10px;
    padding: 2vw;
    background-color:white;
    opacity: .9;
    min-height: 70vh;
}

.CertificatesPreviewFormContainer{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px 0px silver;
    margin: auto;
    padding: 50px;
    background-color:white;
    /* opacity: .9; */
    min-height: 842px;
}

.printable{
    display:flex;
    justify-content:space-around;
    width:300px;
}
.nagarjunaLogo{
    position:absolute;
    left:40%;
    top:50%;
    opacity:0.15;
    height:500px;
}

@media print {
    .CertificatesPreviewFormContainer{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 0px 10px 0px silver;
        margin: 10px;
        padding: 50px;
        background-color:white;
        /* opacity: .9; */
        height: 103vh;
    }
    .printable{
        display: none;
    }
    .nagarjunaLogo{
        position:absolute;
        left:35%;
        top:35%;
        opacity:0.15;
        height:600px;
    }
}

@media screen and (min-width:550px) {
    .certificatePaymentContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
        margin:1vh 0 0 0;
        background-color: #ffffffb9;
        padding: 20px;
        border-radius: 10px;
    }
}

@media screen and (max-width:550px) {
    .certificatePaymentContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin:12vh 0 0 0;
        background-color: #ffffffb9;
        padding: 20px;
        border-radius: 10px;
        min-height: 50vh;
    }
}