.mainContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.marksContainer{
    /* background-color: #d9edfd73; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    padding: 20px;
    width: 100%;
}
