.PaymentsMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}



@media screen and (max-width:450px) {
    .paymentContainer{
    width: 90vw;
    background-color: #eff9fde3;
    box-shadow:0px 0px 12px 0px #c6e5f75d;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: auto;
}
}


@media screen and (min-width:451px) {
.paymentContainer{
    width: 80vw;
    background-color: #eff9fde3;
    box-shadow:0px 0px 12px 0px #c6e5f75d;
    padding: 10px;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}    
}
