*{
  font-family: "verdana";
  font-size: 14px;
  margin: 0;
}

h1{
  font-size: 21px;
}

.muiButton{
    text-transform: unset !important;
}


.fallbackContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://anucde.org/img4.e0531e20a9f75722.jpg");
  height: 100vh;
  background-size: cover;
}



/* width */
::-webkit-scrollbar {
  width: 2px;
}
/* height */
::-webkit-scrollbar {
  height: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}